/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    overscroll-behavior-y: contain;
}

.mat-card {
    padding: 12px !important;
}

.nopadding .mat-expansion-panel-body {
    padding: 0px;
}