.main-content {
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.version {
    padding: 16px;
    display: flex;
    flex-direction: line;
}

.mat-nav-list .mat-list-item-focus {
    background: none;
}

.active-link {
    background: #3f51b5 !important;
}